In [2]:
# Python includes inbuilt functions for creating, writing, and reading files.
# The type of operations possible in the file are governedd by access modes.
# Access modes specify the manner in which the file will be utilised once its opened

In [3]:
# File access Modes
    # Read Only ('r')
    # Read and Write ('r+')
    # Write Only ('w')
    # Write and Read ('w+')

In [5]:
# creating a text file that allows read and write
with open('days.txt', 'w+') as text_file:
          days = 'Monday \nTuesday \nWednesday'
          text_file.write(days)

In [7]:
# reading content from a file
with open('days.txt', 'r') as text_file:
    contents = text_file.read()
    print(contents)

Monday
Tuesday
Wednesday

In [8]:
# Exercise:
# create a to-do list that writes user input to a file. The program should:
    # Ask the number of itmes to-do list should have
    # Ask user to input new to-do item
    # Read contents of existing to-do items
    # Add new to-do item to the existing to-do items. Save the updated to-do items

In [20]:
# ask user for number of to-dos
no_of_tasks = int(input('How many tasks did you plan for today?'))
file opened
with open('todo.txt', 'w+') as todo_file:
# for loop through each task 
    for task in range(no_of_tasks):
    # for each number of to-dos, user needs to enter a task
        new_item = input('Enter a to-do item: ')
        todo_file.write(new_item + '\n')

How many tasks did you plan for today? 3
Enter a to-do item:  quiet time
Enter a to-do item:  gym
Enter a to-do item:  cook

In [ ]:
# Working with CSV files
    # CSV = Comma Separated Values
    # CSV file is a simple file format used to store tabular data, like spreadsheet or database
    # Python provides an in-built module called csv to work with CSV files

In [3]:
# Use csv.writer class to insert data to the CVS file
import csv

#field names
fields = ['Name', 'Work Experience', 'Age']

# data rows of csv file
rows = [['Rebecca', '8', '23'],
        ['Lucy', '3', '20'],
        ['John', '14', '31'],
        ['Adam', '10', '45']
       ]

# name csv file
filename = 'team.csv'

# Writing to csv file
with open(filename, 'w', newline='') as csvfile:

    # create csv writer object
    csvwriter = csv.writer(csvfile)
    
    # writing the fields
    csvwriter.writerow(fields) # method used to write multiple rows at
    
    #writing data in rows
    csvwriter.writerows(rows)

In [2]:
# using csv.DictWriter class - returns a writer object whiich maps dictionaries into output rows

import csv

# field names
fields = ['Name', 'Work Experience', 'Age']

# my data rows as dictionary objects
mydict = [{'Name': 'Rebecca', 'Work Experience': '8', 'Age': '23'},
          {'Name': 'Lucy', 'Work Experience': '3', 'Age': '20' },
          {'Name': 'John', 'Work Experience': '14', 'Age': '31' },
          {'Name': 'Adam', 'Work Experience': '10', 'Age': '45' }]

# name of csv file
filename = 'team2.csv'

#writing to csv file
with open(filename, 'w', newline='') as csvfile:
    # create csv dict writer object
    writer = csv.DictWriter(csvfile, fieldnames=fields)
    
    # writing headers (field names)
    writer.writeheader()

    # write data rows
    writer.writerows(mydict)

In [37]:
# cvs.reader: 
    # first, the csv file is opened using open() method in 'r' mode
    # this returns the file object then it is read by using the reader() method of CSV module
    # returns the reader object that iterated throughout the lines in the specified CVS doc

In [42]:
import csv

# opening the CVS file
with open('team.csv', mode = 'r') as csv_file:
    
    # read the cvs file
    spreadsheet = csv.reader(csv_file)
    
    # displaying contnets of cvs file
    data = []
    for row in spreadsheet:
        data.append(row)
        print(row)
        
# can do the same using csv.DictReader() function for dictionaries

['Name', 'Work Experience', 'Age']
['Rebecca', '8', '23']
['Lucy', '3', '20']
['John', '14', '31']
['Adam', '10', '45']

In [43]:
# Reading CVS files with Pandas
    # Pandas is an open-soirce Python library that provides high performnce data analysis tools and easy to use data structures
    # Pandas library can be installed: pip install pandas

In [4]:
import pandas
df = pandas.read_csv('insurance_data.csv')
print(df)
# pandas knows that the first line of the CSV contains column names, and used the mautomatically

    age     sex   bmi  children smoker     region  expenses
0    32    male  28.9         0     no  northwest   3866.86
1    31  female  25.7         0     no  southeast   3756.62
2    37  female  27.7         3     no  northwest   7281.51
3    37    male  29.8         2     no  northeast   6406.41
4    23    male  34.4         0     no  southwest   1826.84
5    56  female  39.8         0     no  southeast  11090.72
6    30  female  32.4         1     no  southwest   4149.74
7    18    male  34.1         0     no  southeast   1137.01
8    34  female  31.9         1    yes  northeast  37701.88
9    23    male  17.4         1     no  northwest   2775.19
10   18  female  26.3         0     no  northeast   2198.19
11   62  female  33.0         3     no  northwest  15612.19
12   26    male  20.8         0     no  southwest   2302.30
13   24  female  26.6         0     no  northeast   3046.06
14   41    male  21.8         1     no  southeast   6272.48
15   37  female  30.8         2     no  southeast   6313.76
16   58    male  37.0         2    yes  northwest  47496.49
17   18    male  31.7         2    yes  southeast  34303.17
18   25    male  33.7         4     no  southeast   4504.66
19   20  female  22.4         0    yes  northwest  14711.74
20   19  female  28.9         0     no  southwest   1743.21
21   61  female  39.1         2     no  southwest  14235.07
22   40    male  26.3         1     no  northwest   6389.38
23   40  female  36.2         0     no  southeast   5920.10
24   53  female  28.1         3     no  southwest  11741.73
25   29  female  29.6         1     no  southeast   3947.41
26   22    male  37.6         1    yes  southeast  37165.16
27   53  female  24.8         1     no  northwest  10942.13
28   59    male  29.8         3    yes  northeast  30184.94
29   35    male  34.8         2     no  northwest   5729.01
30   28  female  37.6         1     no  southeast   3766.88
31   34  female  27.5         1     no  southwest   5003.85
32   19  female  28.4         1     no  southwest   2331.52
33   26    male  30.9         2     no  northwest   3877.30
34   63    male  35.1         0    yes  southeast  47055.53
35   54    male  33.6         1     no  northwest  10825.25
36   52    male  32.2         3     no  northeast  11488.32
37   44    male  31.4         1    yes  northeast  39556.49

In [7]:
#can access specific columns
df['region']

<class 'pandas.core.series.Series'>

In [11]:
# can also check for the data type of each column
print(type(df['bmi'][0]))

<class 'numpy.float64'>

In [13]:
# PROCESSING DATA

In [14]:
# minimum expenses, can replace min with max to get max
min(df['expenses'])

1137.01

In [16]:
# how many people have no children?
df['children'].value_counts()

1    13
0    12
2     7
3     5
4     1
Name: children, dtype: int64

In [17]:
# the mean of each column in each region (will only do this for the int/float columns)
df.groupby(['region']).mean()

                 age        bmi  children      expenses
region
northeast  38.285714  29.714286  1.428571  18654.612857
northwest  40.000000  28.800000  1.454545  11773.368182
southeast  34.000000  32.808333  1.000000  13769.458333
southwest  33.125000  29.950000  1.000000   5416.782500

In [18]:
df.groupby(['children']).sum()
#df.groupby(by='children', dropna=False).sum()
# dropna=False   ->  will porbably skew the data slightly, better to put true so whole row is not included in calcuations

          age    bmi   expenses
children
0         370  359.2   98655.18
1         451  380.3  170827.36
2         272  234.1  118361.21
3         263  150.8   76308.69
4          25   33.7    4504.66

In [19]:
# can group by more than one column
df.groupby(['region','age']).mean()

                 bmi  children   expenses
region    age
northeast 18   26.30       0.0   2198.190
          24   26.60       0.0   3046.060
          34   31.90       1.0  37701.880
          37   29.80       2.0   6406.410
          44   31.40       1.0  39556.490
          52   32.20       3.0  11488.320
          59   29.80       3.0  30184.940
northwest 20   22.40       0.0  14711.740
          23   17.40       1.0   2775.190
          26   30.90       2.0   3877.300
          32   28.90       0.0   3866.860
          35   34.80       2.0   5729.010
          37   27.70       3.0   7281.510
          40   26.30       1.0   6389.380
          53   24.80       1.0  10942.130
          54   33.60       1.0  10825.250
          58   37.00       2.0  47496.490
          62   33.00       3.0  15612.190
southeast 18   32.90       1.0  17720.090
          22   37.60       1.0  37165.160
          25   33.70       4.0   4504.660
          28   37.60       1.0   3766.880
          29   29.60       1.0   3947.410
          31   25.70       0.0   3756.620
          37   30.80       2.0   6313.760
          40   36.20       0.0   5920.100
          41   21.80       1.0   6272.480
          56   39.80       0.0  11090.720
          63   35.10       0.0  47055.530
southwest 19   28.65       0.5   2037.365
          23   34.40       0.0   1826.840
          26   20.80       0.0   2302.300
          30   32.40       1.0   4149.740
          34   27.50       1.0   5003.850
          53   28.10       3.0  11741.730
          61   39.10       2.0  14235.070

In [20]:
import statistics

In [22]:
# calculate the average of'expenses'
mean_expenses = statistics.mean(df['expenses'])
print(mean_expenses)

12333.081578947369

In [23]:
# median
median_expenses = statistics.median(df['expenses'])
print(median_expenses)

6293.12

In [24]:
# standard deviation
std__expenses = statistics.stdev(df['expenses'])
print(std__expenses)

13652.613501076085

In [25]:
no_children = statistics.mean(df['children'])
print(no_children)

1.2105263157894737